
<html>
<head>
    <link href="/static/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/trello.css" rel="stylesheet" media="screen" />
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://api.trello.com/1/client.js?key=eaf8c57e2e802c6e08c08132d4433d4e"></script>
    <script src="/static/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="/static/js/trello.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"> </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

  <body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Trello API Based Dashboard</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">

        <ul class="nav navbar-nav navbar-right">

            <li><button id="loggedin" class="btn btn-danger navbar-btn">Connect Using Trello</button></li>

             <li><div id="loggedout" ><span id="welcome"><h2></h2></span><button class="btn btn-danger navbar-btn" > Log Out</button></div></li>



        </ul>
      </div>

    </div>
  </nav>

{% block content %} {% endblock %}


  </body>



</html>

