{% extends "header.html" %}
{% block content %}
<div class="container">


         <div id="custom-search-input">

                            <form action="" method=post>

                              <div class="input-group">
                                  <input type="text" name="search" class="search-query form-control" placeholder="Search" />
                                 <div class="input-group-btn">
                                    <button class="btn btn-danger" type="submit">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                              </div>
                            </form>
      </div>


  <h3>Welcome to the Trello API Based Website</h3>
  <p>This website is to represent trello data in a decent format ...
  <p>More info here....</p>

</div>

{% endblock %}

