{% extends "header.html" %}
{% block content %}
<div class="container">



  <h1>Welcome to the Trello API Based DashBoard</h1>
  <p>This webpage displays your trello cards assigned to you and actions you have made on a shared board you are part of so that you do not need to go through massive number of cards inside those boards. It also makes it possible to download your cards and actions</p>


<div class='intro'>
  <div class='center'>
    <div class='core'></div>
    <div class='outer_one'>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
    </div>
    <div class='outer_two'>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
    </div>
    <div class='outer_three'>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
    </div>
    <div class='outer_four'>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
    </div>
    <div class='outer_five'>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
    </div>
    <div class='pieces'>
      <div class='future_ui__piece'>
        <button id ="loggedin2" class="btn btn-link">Connect to Trello</button>
        <div class='line'></div>
        <div class='tip'>
          You must have an account on Trello
        </div>
      </div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
    </div>
  </div>
</div>
      <form class="form-horizontal" id="boards_form">
        <div id="boardsgroup" class="form-group">
          <label class="control-label">Choose your board</label>
            <select class="form-control" id="boards"></select>
        </div>

        <div id="actiontypegroup" class="form-group">
          <label class="control-label">Choose what you want</label>
          <select class="form-control" id="actiontype"></select>
        </div>
      </form>

      <div class="table-responsive" id="cardsoractions">

        

      </div>


</div>

{% endblock %}

