{% extends "header.html" %}
{% block content %}
<head>
	<title>Home</title>
	<link href="/static/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
	<link rel="stylesheet" href="/static/css/style.css">
	<style>
		body{
		 padding-top: 50px;
		}
	</style> 
</head>
<body>
  <section class="menu menu--circle">
  <input type="checkbox" id="menu__active"/>
  <label for="menu__active" class="menu__active">
    <div class="menu__toggle">
      <div class="icon">
        <div class="hamburger"></div>
      </div>
    </div>
    <input type="radio" name="arrow--up" id="degree--up-0"/>
    <input type="radio" name="arrow--up" id="degree--up-1" />
    <input type="radio" name="arrow--up" id="degree--up-2" />
    <div class="menu__listings">
      <ul class="circle">
        <li>
          <div class="placeholder">
            <div class="upside">
              <a href="https://codepen.io/logrithumn" class="button"><i class="fa fa-user"></i></a>
            </div>
          </div>
        </li>
        <li>
          <div class="placeholder">
            <div class="upside">
              <a href="#" class="button"><i class="fa fa-cog"></i></a>
            </div>
          </div>
        </li>
        <li>
          <div class="placeholder">
            <div class="upside">
              <a href="#">&nbsp</a>
            </div>
          </div>
        </li>
        <li>
          <div class="placeholder">
            <div class="upside">
              <a href="#" class="button"><i class="fa fa-commenting"></i></a>
            </div>
          </div>
        </li>
        <li>
          <div class="placeholder">
            <div class="upside">
              <a href="#" class="button"><i class="fa fa-trash"></i></a>
            </div>
          </div>
        </li>
        <li>
          <div class="placeholder">
            <div class="upside">
              <a href="#" class="button"><i class="fa fa-battery-4"></i></a>
            </div>
          </div>
        </li>
        <li>
          <div class="placeholder">
            <div class="upside">
              <a href="#" class="button"><i class="fa fa-calendar"></i></a>
            </div>
          </div>
        </li>
        <li>
          <div class="placeholder">
            <div class="upside">
              <a href="#" class="button"><i class="fa fa-cloud"></i></a>
            </div>
          </div>
        </li>
        <li>
          <div class="placeholder">
            <div class="upside">
              <a href="#" class="button"><i class="fa fa-wifi"></i></a>
            </div>
          </div>
        </li>
        <li>
          <div class="placeholder">
            <div class="upside">
              <a href="#" class="button"><i class="fa fa-envelope-o"></i></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="menu__arrow menu__arrow--top">
      <ul>
        <li>
          <label for="degree--up-0"><div class="arrow"></div></label>
          <label for="degree--up-1"><div class="arrow"></div></label>
          <label for="degree--up-2"><div class="arrow"></div></label>
        </li>
      </ul>
    </div>
  </label>
 </section>
<div class='intro'>
  <div class='center'>
    <div class='core'></div>
    <div class='outer_one'>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
      <div class='outer_one__piece'></div>
    </div>
    <div class='outer_two'>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
      <div class='outer_two__piece'></div>
    </div>
    <div class='outer_three'>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
      <div class='outer_three__piece'></div>
    </div>
    <div class='outer_four'>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
      <div class='outer_four__piece'></div>
    </div>
    <div class='outer_five'>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
      <div class='outer_five__piece'></div>
    </div>
    <div class='pieces'>
      <div class='future_ui__piece'>
        <span>Warp drive</span>
        <div class='line'></div>
        <div class='tip'>
          Yes, commander!
        </div>
      </div>
      <div class='future_ui__piece'>
        <span>Teleport</span>
        <div class='line'></div>
        <div class='tip'>
          Beam me up!
        </div>
      </div>
      <div class='future_ui__piece'>
        <span>Fusion core</span>
        <div class='line'></div>
        <div class='tip'>
          Engineering!
        </div>
      </div>
      <div class='future_ui__piece'>
        <span>Laser target</span>
        <div class='line'></div>
        <div class='tip'>
          Charge laz0rs!
        </div>
      </div>
      <div class='future_ui__piece'>
        <span>Shields</span>
        <div class='line'></div>
        <div class='tip'>
          Status report!
        </div>
      </div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
      <div class='future_ui__piece blank'></div>
    </div>
  </div>
</div>
 <div class="container"> 
	<h1>HELLO </h1>
	<h2>Napier </h2>
	<p>Demonstrating a flask app with templates for html generation and bootstrap for a little bit of style </p>
 </div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="/static/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
 <script src="/static/js/index.js"></script>
</body>

{% endblock %}}
